.navMenu li {
	border: solid black 1px;
	list-style: none;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: rgb(20, 20, 20);
}
.menu {
	text-align: center;
}
#corpo {
	text-align: left;
}
#FATEC {
	background-color: rgb(10, 250, 10);
}
#FAFIBE {
	background-color: rgb(250, 50, 250);
}
#UFSCAR {
	background-color: rgb(150, 150, 250);
}
#UNIFRAN {
	background-color: rgb(247, 250, 50);
}
#USP {
	background-color: rgb(220, 220, 210);
}